*{
    padding: 0;
    margin: 0;
  }
  .callin{
    box-sizing: border-box;
  width: 154px;
  height: 30px;
  opacity: 0.3;
  border: 1px solid #9DA7BB;
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #1e3ef3;
  }
  .mic{
    width: 88px;
  height: 30px;
  opacity: 0.3;
  border: 1px solid #9DA7BB;
  border-radius: 4px;
  }
  .ibo{
  width: 97px;
  height: 28px;
  background: #536DFD;
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  border:none;
  
  }
  .akbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .seokjin{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .seokjin2{
      width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
  }
  .bosh_menu{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #536DFD;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .aylanaab{
    position: absolute;
    right: -10vw;
    top: -10vw;
    width: 50vw;
    height: 50vw;
    min-width:300px ;
    min-height: 300px;
    background:yellow;
border-radius: 50%;
  }
  .header_text .header_input{
  width: 80%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  background-color:#FFFFFF;
  }
  .header_text{
    width: 40%;
    margin-left: 110px;
  }
  .header_text .header_input input{
    width: 85%;
    height:60px ;
    padding-bottom: 10px;
    margin-right: 10px;
    outline: none;
    border: none;
    margin-left: 10px;
font-size: 22px;
line-height:26.25px;
  }
  .header_text h2{
    font-size: 3vw;
  color: white;
  position: relative;
  z-index: 218972;
  }
.header_text span{
  color: yellow;
}
.header_text p{
  font-size: 1.3vw;
  color: white;
  margin-top: 50px;
}
.header_card{
  width: 40%;
  min-width: 300px;
  position: relative;
  z-index: 20061004;
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  margin-left: 300px;
}
#card1{
position: relative;
left: 100px;
}
#card12{
  position: relative;
  left: 100px;
  }
@media(max-width:600px){
  .aylanaab{
    display: none;
  }
}
.card1{
  width: 450px;
  min-height: 180px;
background-color: white;
padding: 20px 0px 0px 25px; 
}
.butter{
color:   #2E2E2E;
font-size: 20px;
 font-weight: 550;
}
.but{
  display: flex;
  margin-left: 150px;

}
.abbos{
margin-left: -150px;
width: 80px;
height: 22px;
border-radius: 2px;
background-color:#FFB800;
border: none;
color: white;
margin-top: 10px;
}
.butter span{
  color: #9DA7BB;
  font-size: 14px;
}
.jiyu{
  margin-left: 170px;
font-size: 25px;
font-weight: 500;
}
.jiyu span{
font-size: 15px;
font-weight: 100;
}
.take{
  margin-top: 30px;
}
.icon{
  display: flex;
  margin-top: 15px;
}
.icon h3{
  color: #FFD401;
}
.brrrr{
  color: #9DA7BB;
}
.ibf{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: #9DA7BB;
background-color:white;
margin-left: 350px;
margin-top: -10px;
}
.ibf h3{
font-size: 25px;
display: flex;
justify-content: center;
align-items: center;
  color: #536DFD;
}
.bt{
  margin-top: -35px;
}
.tomboy{
  width: 80px;
  height: 22px;
  background-color: #10C8A0;
  border-radius: 2px;
  border: none;
  color: white;
}
.suga{
  color: #2E2E2E;
  font-size: 20px;
  font-weight: 500;
  margin-top: 35px;
}
.tehen{
  width: 80px;
  height: 22px;
  background-color: #11BDF3;
  color: white;
  border-radius: 2px;
  border: none;
}
.jiyu2{
font-size: 25px;
font-weight: 500;
}
.jiyu2 span{
font-size: 15px;
font-weight: 100;
}
.tham{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.gorya{
  color:   #2E2E2E;
  font-size: 20px;
   font-weight: 550;
  }

  .gorya span{
    color: #9DA7BB;
    font-size: 14px;
  }
  .milaya{
    width: 80px;
    height: 22px;
    background-color: #EB3B3B;
    border-radius: 2px;
    border: none;
    color: white;

  }
  .burxon{
    margin-top: 10px;
    color:   #2E2E2E;
    font-size: 20px;
     font-weight: 550;
  }
.nin{
  width: 250px;
  height: 150px;
}
.cards12{
  display: grid;
  grid-template-columns: auto auto auto;
}
.asad{
  width: 130px;
  height: 28px;
  background: #536DFD;
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  border:none;

}
.buug{
  padding: 20px;
border: 2px solid  #536DFD;
border-radius: 10px;
margin-bottom: 20px;
margin-top: 20px;
margin-left: 150px;
}
.lol{
  font-size: 20px;
}

.min{
font-size: 30px;
color: #2E2E2E;
font-weight: 400;
}

.lala{
font-size: 24px;
font-weight: 600;
}
.lala1{
  font-size: 24px;
font-weight: 600;
color: #536DFD;
}
.nun2,
.nun{
  width: 540px;
  height: 400px;
  border-radius: 4px;
margin-left: 30px;
box-shadow: 0px 12px 45px 0px rgba(83, 109, 253, 0.25);
margin-bottom: 20px;
}
.nun3{
width:350px;
height: 400px;
border-radius: 4px;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.10);

}
.bhbh{
font-size: 14px;
color: #9DA7BB;
}
.bhbh1{
  font-size: 24px;
  font-weight: 700;
}
.bhbh1 span{
  font-size: 17px;
  font-weight: 200;
}
.ibf1{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: #9DA7BB;
background-color:white;

}
.ibf1 h3{
font-size: 25px;
display: flex;
justify-content: center;
align-items: center;
  color: #536DFD;
}
.okeoke{
  display: flex;
 justify-content: space-around;
 align-items: center;
}

.hugug1,
.hugug{
  margin-left: 30px;
}
.oke1{
  margin-right: 100px;
} 
.nunh{
  display: flex;
  justify-content: center;
}
.ibf3{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: #9DA7BB;
background-color:white;
box-shadow: 2px rgba(83, 109, 253, 0.25);
}
.ibf3 h3{
font-size: 25px;
display: flex;
justify-content: center;
align-items: center;
  color: #536DFD;
}
.ibf1 :hover,
.ibf3 :hover{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #536DFD;
  color: white;
  font-size: 25px;
}
.min{
  font-weight: 700;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.no{
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 400px;
}
.mk2{
  color: var(--black, #2E2E2E);
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.moko{
  background: #F1F2F6;
}
.lali{
  width: 120px;
height: 30px;
border-radius: 4px;
border: 1px solid var(--violet, #536DFD);
color: #536DFD;
}
.lali2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 80px 20px;
}
.kart{
  width: 230px;
height: 70px;
border-radius: 4px;
background: var(--white, #FFF);
box-shadow: 0px 12px 30px 0px rgba(83, 109, 253, 0.15);
}
.jk{
  color: var(--black, #2E2E2E);
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

