*{
    padding: 0;
    margin: 0;
  }
  .callin{
    box-sizing: border-box;
  width: 154px;
  height: 30px;
  opacity: 0.3;
  border: 1px solid #9DA7BB;
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #1e3ef3;
  }
  
  .mic{
    width: 88px;
  height: 30px;
  opacity: 0.3;
  border: 1px solid #9DA7BB;
  border-radius: 4px;
  }
  .ibo{
  width: 97px;
  height: 28px;
  background: #536DFD;
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  border:none;
  
  }
  .akbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
 
  }
  .seokjin{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .seokjin2{
      width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
  }